header {
    background-color: rgba(0, 0, 0, 0.1);
    height: 110px!important;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
header > a > img {
    margin-right: 30px;
    margin-top: -20px;
    width: 160px;
    height: 130px;
}
